.card{
    width: 270px;
    height: 380px;
    border:1px black solid;
    position: absolute;
    top:30%;
    left:5%;
}

.imgC{
    position: absolute;
    top:20%;
    left:30%;
    width: 197px;
    height: 254px;
}

.card-title{
    color: rgb(0, 0, 0);
    position: absolute;
    top:49%;
    left: 17%;
    width: 181px;
    height: 42px;
    font-size: 22px;
    align-items: center;
    text-align: center;
}
.title_gnres{
    color: rgb(0, 0, 0);
    position: absolute;
    top:56%;
    left: 17%;
    width: 181px;
    height: 42px;
    font-size: 17px;
    align-items: center;
    text-align: center;
}

.title_rating{
    color: rgb(0, 0, 0);
    position: absolute;
    top:69%;
    left: 17%;
    width: 181px;
    height: 42px;
    font-size: 17px;
    align-items: center;
    text-align: center;
}

.title_price{
    color: rgb(0, 0, 0);
    position: absolute;
    top:76%;
    left: 17%;
    width: 181px;
    height: 42px;
    font-size: 17px;
    text-align:center;
}

.btn{
    position: absolute;
    top: 84%;
    left: 15.5%;
    background-color: rgba(0, 0, 0, 0.897);
    border: 2px solid black;
    width: 190px;
    height: 50px;
    font-size: 18px; 
    color: white;
}

.btn:hover{
    background-color: rgba(0, 0, 0, 0.897);
    border: 2px solid rgb(0, 255, 21);
    color: rgb(0, 255, 21);
    cursor:pointer;
}