
.navbar{
   width:1245px;
   position:absolute;
   top:3%;
   left:9%;
   height:74px;
   background-color:#03030362;
   border:2px black solid;
}

.img{
    width: 121px;
    height: 119px;
    position: absolute;
    top:-34%;
    left:-10%
}


input::placeholder{
    font-size: 12px;
    color: white;
}


.items{
    display: flex;
    align-items: center;
}
.link { 
    color:#000000;
 }
.link:hover { 
    color: #ffffff; 
 }
.item1{
    position: absolute;
    top:22%;
    left:72%;
	color: #000000;
	display: flex;
    text-decoration: none;
}

.item2{
    position: absolute;
    top:22%;
    left:81%;
	color: #000000;
	display: flex;
    outline:none;
    
}
.item3{
    position: absolute;
    top:22%;
    left:90%;
	color: #000000;
	display: flex;
}


